name: My First Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  MyFirstJob:
    runs-on: ubuntu-latest

    steps:
      - run: echo ":wave Hello World!"

      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: List files in the repository
        run: 
          echo "The repositry ${{ github.repository }} contains the following files:"
          tree
          
      
      
  
